{% extends 'index.html' %} {% block title %}Students{% endblock%} {% block content %}
<h2>{{ title }}</h2>

{% for message in messages %}
<div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Address</th>
      <th>Skype</th>
      <th>Courses</th>
    </tr>
  </thead>
  <tbody>
    {% for s in student_list %}
    <tr>
      <td>{{ s.pk }}</td>
      <td><a href="{% url 'student_detail' pk=s.pk %}">{{ s }}</a></td>
      <td>{{ s.address }}</td>
      <td>{{ s.skype }}</td>
      <td> {% for sc in s.courses.all %}
        <a href="{% url 'course_detail' pk=sc.pk %}">
          {{ sc.name }}</a><br/> {% endfor %} </td>
      {% if user.is_authenticated %}
      <td>
        <a class="btn btn-info" href="{% url 'student_edit' pk=s.pk %}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
      </td>
      <td>
        <a class="btn btn-danger" href="{% url 'student_delete' pk=s.pk %}"><span class="glyphicon glyphicon-remove"></span> Remove</a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
<ul class="pagination">
  {% if page_obj.has_previous %}
  <li><a href="{{ pagination_prefix }}page={{ stud.previous_page_number }}">«</a></li>
  {% endif %}
  {% for num in page_obj.paginator.page_range %}
      {% if num == page_obj.number %}
          <li class="active"><a href="#">{{ num }}</a></li>
      {% else %}
          <li><a href="{{ pagination_prefix }}page={{ num }}">{{ num }}</a></li>
      {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
      <li><a href="{{ pagination_prefix }}page={{ stud.next_page_number }}">»</a></li>
  {% endif %}
</ul>
<br/>
{% if user.is_authenticated %}
<a type="button" class="btn btn-info btn-lg"  href="{% url "student_new"%}"><span class="glyphicon glyphicon-plus"></span> Add new student</a>
{% endif %}
{% endblock %}
