{% extends 'index.html' %} {% block title %}Home{% endblock %} {% block content %}
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">Cloud Course - test test test </div>
    <div class="panel-body">
      Death there mirth way the noisy merit. Piqued shy spring nor six though mutual living ask extent. Replying of dashwood advanced ladyship smallest disposal or. Attempt offices own improve now see. Called person are around county talked her esteem. Those
      fully these way nay thing seems.
    </div>
  </div>
  </br>


  {% block courses %} {% endblock %}
  {% if user.is_authenticated %}
  <a type="button" class="btn btn-info btn-lg"  href="{% url "course_new"%}"><span class="glyphicon glyphicon-plus"></span> Add course</a>
  {% endif %}
  {% endblock %}
